<!DOCTYPE html>
<html>
<head>
  <title>Katello</title>
  <%= stylesheet_link_tag    "katello/application", :media => "all" %>
  <%= javascript_include_tag "katello/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
